{{!
This page will respond with a valid HTML document. The title of the document should be "Venues Found". You should have
the title set as the <title> element of the HTML document and as an h1 in your document. In an h2 element, you will
    print the supplied searchVenueTerm.

    Your page should reference a CSS file, /public/css/main-styles.css; this file should have at least 5 rulesets that
    apply to this page; these 5 rules can also apply to elements on /, or be unique to this page.

    You should have a main element, and inside of the main element have a ol tag that has a list of up to 10 venues (the
    first 10 that appear in the search result array) matching the searchVenueTerm found in the request body in the
    following format (after searching Madison).

    <ol>
        <li>
            <a href="/venuedetails/KovZpZA7AAEA">Madison Square Garden</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpZAa1anA">Madison Theatre</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpZAE7EAA">Madison Live!</a>
        </li>
        <li>
            <a href="/venuedetails/KovZ917APhp">Madison Center for the Arts</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpZA7kvlA">The Theatre at MSG</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpabkQe">Madison Theatre</a>
        </li>
        <li>
            <a href="/venuedetails/KovZ917AtKH">Madison County Fairgrounds</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpZAE6lvA">Madison Street Theatre</a>
        </li>
        <li>
            <a href="/venuedetails/KovZpZAIIIkA">Madison Square Park</a>
        </li>
        <li>
            <a href="/venuedetails/Z1lMVSyiJynZad9jvPa7vo">madison square garden</a>
        </li>
    </ol>
    You must also provide an a tag that links back to your / route with the text Make another search.
    }}

<h1>Venues Found</h1>
<header>
    <h2>{{searchVenueTerm}}</h2>
    <nav>
        <a href="/" id="homepage-link">Make another search!</a>
    </nav>
</header>
<main>
    {{#if venues}}
    <ol>
    {{#each venues}}
        <li>
            <a href="{{url}}">{{name}}</a>
        </li>
    {{/each}}
    </ol>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{searchVenueTerm}}.</p>
    {{/if}}
</main>